name: Build
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Test
        run: |
          docker compose run dev cargo clippy --all-features -- -D warnings
          docker compose run dev cargo clippy --no-default-features -- -D warnings
          docker compose run dev cargo clippy --no-default-features --features redis -- -D warnings

          docker compose run dev cargo test --all-features
